@use 'utils' as *;

.footer {
    padding: 80px 0;
    background-color: hsl(168, 54%, 46%);
    position: relative;

    > *, &__links, svg, &__icons {
        margin-inline: auto;
    }

    &__links, &__icons {
        justify-content: center;
        gap: 4em;
    }

    a {
        color: $dark-desaturated-cyan;
    }

    &__heading, &__links {
        margin-bottom: 2rem;
    }
}