@use 'utils' as *;

.content-section {
    flex-direction: column;

    @include atLargeScreen {
        flex-direction: row;

        &.transform-section {
            flex-direction: row-reverse;
        }
    }

    &-text {
        display: grid;
        place-content: center;
        place-items: center;
        gap: 2rem;
        text-align: center;
        flex-basis: 100%;
        padding-block: 64px;
        
        @include atLargeScreen {
            padding-block: 0;
            place-items: start;
            text-align: left;
        }
        
        h2 {
            max-width: 20ch;
            color: $very-dark-desaturated-blue;
        }
        
        p {
            color: $very-dark-grayish-blue;
            max-width: 40ch;
            
        }
    }

    &-image {
        flex-basis: 100%;
        width: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .learn-link {
        color: $very-dark-desaturated-blue;
        text-transform: uppercase;
        font-size: 1.05rem;
        font-weight: 700;
        font-family: 'Fraunces', sans-serif;
        position: relative;
        z-index: 1;
    }

    .learn-link::after {
        content: '';
        position: absolute;
        z-index: -1;
        left: -5px;
        right: -5px;
        bottom: 2px;
        height: 8px;
        border-radius: 5px;
        opacity: 0.4;
        transition-property: opacity;
        transition-timing-function: ease;
        transition-duration: 0.4s;
    }

    .transform::after {
        background-color: $yellow;
    }

    .stand-out::after {
        background-color: $soft-red;
    }

    .learn-link:hover::after {
        opacity: 1;
    }
}